{% extends "base.html" %}

{% block content %}
<h1>User information</h1> <br/>

<table>
<tr>
    <td>User name:</td>
    <td>{{ user }}
</tr>
<tr>
    <td> First name: </td>
    <td>{{ user.first_name }}</td>
</tr>
<tr>
    <td> Last name: </td>
    <td>{{ user.last_name }}</td>
</tr>
</table>
<div id="user_products">
<h3>Ваши товары:</h3>
	{% for p in product_list %}
		<ul>
		{% if p.user == user%}
		<li><a href="{% url product_view product_id=p.id %}">{{ p.name }}</a></li>
		{% endif %}
		</ul>	
	{% endfor %}
</div>
<br /><br /><a href = "{% url product_list %}">Взять для редактирования</a>
{% endblock %}
