{% extends "base.html" %}

{% block title %}Profile{% endblock %}
{% block content %}
<h1>Профиль</h1>
<table>
	<tr>
		<td>Имя: </td>
		<td>{% if user.first_name %}{{user.first_name}}{% else %}---{%endif%}</td>
	</tr>
	<tr>
		<td>Фамилия: </th>
		<td>{% if user.last_name %}{{user.last_name}}{% else %}---{%endif%}</td>
	</tr>
	<tr>
		<td>Статус: </th>
		<td>{% if user.profile.is_seo %}
			SEO
		    {% else %}
	                Simple
		    {% endif %}
		</td>
	</tr>
	<tr>
		<td>Телефон: </td>
		<td>{% if user.profile.phone %}{{user.profile.phone}}{%else%}---{%endif%}</td>
	</tr>
</table>
<h4>Ваши продукты:</h4>
	<div id="list"><ul>
	{% for p in product_list %}		
		<li><a href="{% url product_view product_id=p.id %}">{{ p.name }}</a></li>
	{% empty %}
		Не выбрано ни одного продукта.			
	{% endfor %}
	</ul></div>
{% endblock %}
