{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block userinfo %}{% endblock %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% block content %}
{% if not user.is_authenticated %}
<div id="stylized" class="authform">
<form id="form" method="post" action="{% url auth_login %}">
{% csrf_token %}

 <h1>Авторизация</h1>
 <p>Введите имя пользователя и пароль для входа в систему</p>
 {{ form.username.label_tag }}
 {{ form.username }}
 {{ form.password.label_tag }}
 {{ form.password }}
 <input class="submit" type="submit" value="Вход" />
 <input type="hidden" name="next" value="{{ next }}" />
 <div class="spacer"></div>
 <a href = "{% url registration_register %}">Регистрация </a>
</form>
</div>
{% else %}
<a href="{% url django_rewriter.profille.views.profileuser %}">{{user}}</a>, you're already in system!
{% endif %}
{% endblock %}
