{% extends 'base.html' %}

{% block userinfo %}{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
<div id="stylized" class="authform">
<form id="form" method="post" action="">
{% csrf_token %}

 <h1>Регистрация</h1>
 <p>Введите регистрационные данные</p>
<dl class="register">
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd class=clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}</dd>
{% endfor %}
</dl>
<input type="submit" value="Регистрация"  class="submit"/>
 <div class="spacer"></div>
</form>
</div>
{% else %}
<a href="{% url profile %}">{{user}}</a>, you're already in system!
{% endif %}
{% endblock %}

