{% extends "base.html" %}

{% block title %}Загрузка картинок{% endblock %}
{% block content %}
	<h1 class="styled-header">{{product.name}}</h1>
	<form class="styled-block-center editform"
	      enctype="multipart/form-data" 
	      action="{% url photo_add product.id %}" 
	      method="POST">
             {% csrf_token %}
             <table>
                  {{ form.as_table }}
             </table>
             <div class="inner-right">
                 <input class="submit" type="submit" value="Сохранить" />
             </div>
	</form>
{% endblock %}
