{% extends "base.html" %}

{% block title %}List{% endblock %}
{% block content %}
        {% if owners_only %}
            <h1>Мои продукты</h1>
        {% else %}
            <h1>Список продуктов</h1>
        {% endif %}
        
        {% if product_list %}
            <table id="rounded-corner" >
            <thead>
		<tr>
                	<th scope="col" class="rounded-company">Товар</th>
			<th scope="col" class="rounded-q1">Оценка</th>
			<th scope="col" class="rounded-q2">Состояние</th>
			<th scope="col" class="rounded-q3">Действия</th>
		</tr>
            </thead>
	    {% for product in product_list %}
                <tr>
                     <td><a href="{% url product_view product_id=product.id %}">
                         {{ product }}
                     </a></td>
                     <td>{% if product.rating %}{{ product.rating }}{% else %}не оценено{% endif %}</td>
                     <td>{{ product.get_status_display }}</td>
                     <td>
                         {% if product.status == 'draft' %}
                             <a href="{% url product_linking  product.id %}?next_page={{current_path}}"> Взять себе </a>
                         {% endif %}
                         
                         {% if product.status == 'progress'%}
                             <a href="{% url product_edit  product.id %}"> Редактировать </a> |
                             <a href="{% url product_send  product.id %}"> Отправить </a>
                         {% endif %}
                     </td>
		</tr>
            {% endfor %}
		<tfoot>
		 <tr>
		 <td colspan="3" class="rounded-foot-left"></td>
		 <td class="rounded-foot-right"></td>
		 </tr>
		 </tfoot>
            </table>
	{% else %} 
		Нет ни одного продукта.
	{% endif %}
	
 
{% endblock %}
