{% extends "base.html" %}

{% block title %}Список продуктов{% endblock %}
{% block content %}
        {% if owners_only %}
            <h1>Мои продукты</h1>
        {% else %}
            <h1>Список продуктов</h1>
        {% endif %}
        
        {% if product_list %}
            <table id="rounded-corner" >
            <thead>
		<tr>
                	<th scope="col" class="rounded-company">Товар</th>
                	<th scope="col" class="rounded-q1">Требования</th>
			<th scope="col" class="rounded-q1">Оценка</th>
			<th scope="col" class="rounded-q2">Состояние</th>
			<th scope="col" class="rounded-q3">Действия</th>
		</tr>
            </thead>
	    {% for product in product_list %}
                <tr class="product-list-line">
                     <td><a href="{% url product_view product_id=product.id %}">
                         {{ product }}
                     </a></td>
                     <td class="product-requirements">
                          {% if product.has_requirements %}
                             <ul>
                                 {% if product.required_brief_desc %}
                                    <li>краткое описание</li>
                                 {% endif %}
                                 
                                 {% if product.required_full_desc %}
                                    <li>полное описание</li>
                                 {% endif %}
                                 
                                 {% if product.required_meta_info %}
                                    <li>мета теги</li>
                                 {% endif %}
                                 
                                 {% if product.required_images_count > 0 %}
                                    <li>количество рисунков: {{ product.required_images_count }}</li>
                                 {% endif %}
                             </ul>
                          {% else %}
                              Нет требований или требования неизвестны
                          {% endif %}
                     </td>
                     <td>{% if product.rating %}{{ product.rating }}{% else %}не оценено{% endif %}</td>
                     <td>{{ product.get_status_display }}</td>
                     <td>
                         {% if product.status == 'draft' %}
                             <a href="{% url product_linking  product.id %}?next_page={{current_path}}"> Взять себе </a>
                         {% endif %}
                         
                         {% if product.status == 'progress'%}
                             <a href="{% url product_edit  product.id %}"> Редактировать </a>
                             <a href="{% url product_send  product.id %}"> Отправить </a>
                         {% endif %}
                     </td>
		</tr>
            {% endfor %}
		<tfoot>
		 <tr>
		 <td colspan="4" class="rounded-foot-left"></td>
		 <td class="rounded-foot-right"></td>
		 </tr>
		 </tfoot>
            </table>
	{% else %} 
		Нет ни одного продукта.
	{% endif %}
	
 
{% endblock %}
