{% extends "base.html" %}

{% block title %}Просмотр продукта{% endblock %}
{% block content %}
	<h1>{{prod.name}}</h1>
	<table>
		<tr>
			<td>Код продукта: </td>
			<td>{{prod.code}}</td>
		</tr>
		<tr>
			<td>Краткое описание: </td>
			<td>{{prod.brief}}</td>
		</tr>
		<tr>
			<td>Полное описание: </td>
			<td>{{prod.full_desc}}</td>
		</tr>
		<tr>
			<td>Мета-заголовок: </td>
			<td>{{prod.meta_title}}</td>
		</tr>
		<tr>
			<td>Ключевые слова: </td>
			<td>{{prod.meta_keywords}}</td>
		</tr>
		<tr>
			<td>Мета-описание: </td>
			<td>{{prod.meta_desc}}</td>
		</tr>
		<tr>
			<td>Оценка: </td>
			<td>{% if not prod.rating %} не оценено 
			    {% else %} {{prod.rating}} {% endif %}
			</td>
		</tr>
		<tr>
			<td>Статус: </td>
			<td>{{prod.get_status_display}}</td>
		</tr>
		<tr>
			{% if prod.status == 'draft' %}
				<td><br /><a href="{% url product_linking  prod.id %}">Взять себе</a></td>
			{% endif %}
			{% if prod.status == 'progress' %}
				<td><br /><a href="{% url product_edit  prod.id %}">Редактировать</a></td>
				<td><br /><a href="{% url product_send  prod.id %}">Отправить</a></td>	
		        {% endif %}
		</tr>
	</table>
{% endblock %}
