{% extends "base.html" %}
{% load thumbnail %}


{% block title %}Просмотр продукта{% endblock %}
{% block content %}
	<h1 id="product-view-header">{{prod.name}}</h1>
	<div id="product-view-images">
	     <div class="images-block">
		 {% for photo in photos %}
                     {% thumbnail photo.image "100x100" crop="center" as im %}
                        <a class="a-img" href="{% url photo_edit prod.id photo.id %}" ><img class="image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/></a>
                     {% endthumbnail %}
                 {% empty %}
                     <p>Нет ни одного изображения для этого товара.</p>
                 {% endfor %}
             </div>
             {% if prod.status == 'progress' and prod.required_images_count > len  %}
                  <div class="item links">
                      <div class="value links">
                           <a class="link" href="{% url photo_add prod.id %}">Добавить</a>
                      </div>
                  </div>
             {% endif %}
					
	</div>
	<div id="product-view">
            <div class="container">
                <div class="item product-code">
	                <div class="label">Код продукта: </div>
	                <div class="value one-line">
	                    {{ prod.code }}
	                </div>
	        </div>
	        
	        <div class="item">
	                <div class="label">Краткое описание: </div>
	                <div class="value big-text">
	                    {{ prod.brief_desc }}
	                </div>
	        </div>
	        
	        <div class="item">
	                <div class="label">Полное описание: </div>
	                <div class="value big-text">
	                    {{ prod.full_desc }}
	                </div>
	        </div>
	        
	        <div class="item">
	                <div class="label">Мета-заголовок: </div>
	                <div class="value one-line">
	                    {{ prod.meta_title }}
	                </div>
	        </div>
	        
	        <div class="item">
	                <div class="label">Ключевые слова: </div>
	                <div class="value big_text">
	                    {{ prod.meta_keywords }}
	                </div>
	        </div>
	        
	        <div class="item">
	                <div class="label">Мета-описание: </div>
	                <div class="value big_text">
	                    {{ prod.meta_desc }}
	                </div>
	        </div>
	        
	        <div class="item">
	                <div class="label">Оценка: </div>
	                <div class="value one-line">
                              {% if not prod.rating %}
                                   не оценено 
	                      {% else %}
	                           {{prod.rating}} 
	                      {% endif %}
	                </div>
	        </div>
	        
	        <div class="item">
	                <div class="label">Статус: </div>
	                <div class="value one-line">
                              {{prod.get_status_display}}
	                </div>
	        </div>
	        
	        <div class="item links">
	                {# <div class="label for-actions">Действия</div> #}
	                {# TODO : Separate this links in right column after requirements #}
	                {# Винести стан і дії назразок вимог вправо. як окремі елементи(квадратики) #}
	                <div class="value links">
 	                {% if prod.status == 'draft' %}
                                <a class="link" href="{% url product_linking  prod.id %}">Взять себе</a>
        		{% endif %}
        		{% if prod.status == 'progress' %}
        			<a class="link" href="{% url product_edit  prod.id %}">Редактировать</a>
        			<a class="link" href="{% url product_send  prod.id %}">Отправить</a>
        	        {% endif %}
        	        </div>
	        </div>
	    </div>  
            <div class="product-requirements">
	            {% if prod.has_requirements %}
	                 <p>Требования:</p>
                         <ul>
                         {% if prod.required_brief_desc %}
                             <li>краткое описание</li>
                         {% endif %}

                         {% if prod.required_full_desc %}
                             <li>полное описание</li>
                         {% endif %}

                         {% if prod.required_meta_info %}
                             <li>мета теги</li>
                         {% endif %}

                         {% if prod.required_images_count > 0 %}
                             <li>количество рисунков: {{ prod.required_images_count }}</li>
                         {% endif %}
                         </ul>
                    {% else %}
                         Нет требований или требования неизвестны
                    {% endif %}
	    </div>
        </div>
{% endblock %}
