<html lang="en">
<head>
    <link rel="stylesheet" href="{{STATIC_URL}}css/base.css" type="text/css"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block userinfo %}
    <div id="user-info">
	<b>Пользователь: </b><a href="{% url profile %}">{{ user }}</a> |
	<a href="{% url auth_logout %}">Выйти</a>
    </div>
    {% endblock %}
    {% if user.is_authenticated %}
    <div id="left-menu">
         {% block left_menu %}
         <h3 id="left-menu-header">Управление:</h3>
         <ul>
             <li class="menu-item"> 
                <a class="menu-link" href="{% url profile %}">Ваш профиль</a>
                <a class="menu-link right" href="{% url profile_edit %}">ред.</a>
             </li>
             <li class="menu-item"> 
                <a class="menu-link" href="{% url product_my_list %}">Мои продукты</a>
             </li>
             <li class="menu-item">
                <a class="menu-link" href="{% url product_my_list status='deferred' %}">Отложеные продукты</a>
             </li>
             <li class="menu-item">
                <a class="menu-link" href="{% url product_list status='draft' %}">Выбрать продукты</a>
             </li>
         </ul>
         {% endblock %}
    </div>
    {% endif %}
    <div id="content">
         {% block content %}{% endblock %}
    </div>
    <div id="footer">
         &copy; JBM
    </div>
</body>
</html>
